<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><{$Think.lang.login_title}></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="__PUBLIC__/Style/Admin/login.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/Style/Admin/reset.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Admin/login.js"></script>
</head>
<body>
<div class="wrapper">
    <div id="count-msg"></div>
    <div class="container">
        <div class="logo">
        </div>
        <form class="form" action="__SELF__" METHOD="post">
            <div class="input_box">
                <input type="text" name="username" placeholder="<{$Think.lang.username}>" id="username" foucs-message="请输入您的用户名" lost-message="用户名格式不正确（请输入需包含字母数字中的一种或两种,长度为4-22位）">
            </div>
            <div class="input_box">
                <input type="password" name="password" placeholder="<{$Think.lang.password}>" id="password" foucs-message="请输入您的密码" lost-message="密码格式不正确（请输入需包含字母数字以及@*#中的一种,长度为6-22位）">
            </div>
            <div class="verify_box">
                <input id="verify" type="text" name="verify" class="verify" placeholder="<{$Think.lang.verify}>" foucs-message="请输入验证码" lost-message="验证码格式不正确（长度为4位）">
                <img class="verify_img" src="<{:U(verify)}>" alt="<{$Think.lang.verify}>" onclick="this.src=this.src+'?'+Math.random()">
            </div>
            <button type="submit" id="login-button" ><{$Think.lang.login}></button>
        </form>
        <a href="<{:U('Forger/forger')}>" class="text-center"><{$Think.lang.forget_password}></a> |
        <a href="<{:U('Register/register')}>" class="text-center"><{$Think.lang.register_new}></a>
    </div>
</div>
<script type="text/javascript">
    // 表单提交
    $(".form").submit(function(e){
        e.preventDefault();
        e.stopPropagation();
        var data = new Object();
        data.username = $("input[name='username']").val();
        data.password = $("input[name='password']").val();
        data.verify = $("input[name='verify']").val();
        if (data.username == '') {
            $("input[name='adminname']").focus();
            return false;
        }
        if (data.password == '') {
            $("input[name='password']").focus();
            return false;
        }
        if (data.verify == '') {
            $("input[name='verify']").focus();
            return false;
        }
        $("#count-msg").hide();
        var url = $(this).attr('action');
        $.post(url, data , function(json){
            if (json.status) {
                showInfor(json.info);
                window.location.href = "__MODULE__/Index/index";
            }else {
                showInfor(json.info);
                $(".verify_img").trigger('click');
                return false;
            }
        }, 'json');
        return false;
    });
    window.onload = function() {
        var config = {
            vx : 4,
            vy : 4,
            height : 2,
            width : 2,
            count : 110,
            color : "121, 162, 185",
            stroke : "100, 200, 180",
            dist : 6000,
            e_dist : 20000,
            max_conn : 10
        }
        CanvasParticle(config);
        var H = $(window).height();
        var W = $(window).width();
        var Y =(H-500)/1.8;
        document.getElementsByClassName('wrapper')[0].setAttribute("style","widht:"+W+"px;height:"+H+"px");
        document.getElementsByClassName('container')[0].setAttribute("style","margin-top:"+Y+"px");


    }
</script>
<script type="text/javascript" src="__PUBLIC__/Js/Admin/canvas-particle.js"></script>
</body>
</html>